In [207]:
import pandas as pd

In [208]:
# Load data
def load_data(file_path):
    return pd.read_csv(file_path)

loading data on colab from git

In [209]:
'''
# Load the data
production1 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions1.csv')
production2 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions2.csv')
production3 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions3.csv')
production = pd.concat([production1, production2, production3], ignore_index=True)
temp_change = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/temperature_change.csv')
land_cover = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/land_cover.csv')
sea_level = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/sea_level.csv')
atmospheric = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/Atmospheric.csv')

'''

"\n# Load the data\nproduction1 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions1.csv')\nproduction2 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions2.csv')\nproduction3 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions3.csv')\nproduction = pd.concat([production1, production2, production3], ignore_index=True)\ntemp_change = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/temperature_change.csv')\nland_cover = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/land_cover.csv')\nsea_level = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/sea_level.csv')\natmospheric = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/Atmospheric.csv')\n\n"

loading data from local machine

In [210]:
# Load the data
production1 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions1.csv')

production2 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions2.csv')
production3 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions3.csv')
production = pd.concat([production1, production2, production3], ignore_index=True)
temp_change = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\temperature_change.csv')
land_cover = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\land_cover.csv')
sea_level = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\sea_level.csv')
atmospheric = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\Atmospheric.csv')

In [211]:
# Display the first few rows of each dataset
#print(production.head())
#print(temp_change.head())
#print(land_cover.head())
#print(sea_level.head())
#print(atmospheric.head())

In [212]:
def clean_data(df):
    return df.loc[:, ~df.columns.str.contains('^Unnamed')]
production = clean_data(production)
temp_change = clean_data(temp_change)
land_cover = clean_data(land_cover)
atmospheric = clean_data(atmospheric)
sea_level = clean_data(sea_level)

In [213]:
production.head()

,Area,Item,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,Afghanistan,"Almonds, in shell",Gross Production Value (constant 2014-2016 tho...,1.042449e+08,1.105186e+08,1.076921e+08,1.128735e+08,1.161324e+08,1.187102e+08,1.188556e+08,...,2.134430e+05,1.385370e+05,1.225900e+05,1.660570e+05,1.379860e+05,1.739950e+05,1.931680e+05,1.987390e+05,3.248840e+05,3.235890e+05
1,Afghanistan,"Almonds, in shell",Gross Production Value (current thousand SLC),1.042449e+08,1.105186e+08,1.076921e+08,1.128735e+08,1.161324e+08,1.187102e+08,1.188556e+08,...,6.336462e+08,6.835050e+08,6.994889e+08,7.152111e+08,7.278068e+08,8.944441e+08,9.634183e+08,1.071486e+09,1.297379e+09,1.563556e+09
2,Afghanistan,"Almonds, in shell",Gross Production Value (constant 2014-2016 tho...,1.042449e+08,1.105186e+08,1.076921e+08,1.128735e+08,1.161324e+08,1.187102e+08,1.188556e+08,...,9.003038e+06,5.843497e+06,5.170855e+06,7.004306e+06,5.820251e+06,7.339134e+06,8.147840e+06,8.382859e+06,1.370364e+07,1.364904e+07
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Gross Production Value (constant 2014-2016 tho...,1.042449e+08,1.105186e+08,1.076921e+08,1.128735e+08,1.161324e+08,1.187102e+08,1.188556e+08,...,2.717000e+04,4.673200e+04,3.912400e+04,3.767500e+04,3.963300e+04,3.881100e+04,3.870600e+04,3.905000e+04,3.885600e+04,3.887100e+04
4,Afghanistan,Apples,Gross Production Value (constant 2014-2016 tho...,7.127000e+03,7.127000e+03,7.127000e+03,8.685000e+03,9.629000e+03,1.076200e+04,1.302700e+04,...,3.709800e+04,4.219800e+04,4.235400e+04,6.650600e+04,8.044900e+04,1.025150e+05,1.181530e+05,1.278450e+05,1.518300e+05,1.500960e+05

In [214]:
production.drop(columns = ['Element'],inplace = True)

In [215]:

production = pd.melt(production, id_vars=['Area','Item'],var_name='Year', value_name='production')

In [216]:
production['Year'] = production['Year'].str.replace('Y','')

In [217]:
production.head()

,Area,Item,Year,production
0,Afghanistan,"Almonds, in shell",1961,1.042449e+08
1,Afghanistan,"Almonds, in shell",1961,1.042449e+08
2,Afghanistan,"Almonds, in shell",1961,1.042449e+08
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",1961,1.042449e+08
4,Afghanistan,Apples,1961,7.127000e+03

In [218]:
temp_change.head()

,Area,Months,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022,Y2023
0,Afghanistan,January,Temperature change,0.745,0.015,2.706,-5.250,1.854,3.796,-1.380,...,1.716,2.017,3.594,1.367,2.111,2.911,-0.547,0.701,2.458,-2.200
1,Afghanistan,February,Temperature change,-1.787,2.390,3.875,-0.218,-0.100,3.529,0.176,...,-3.020,2.696,2.448,0.000,2.774,0.147,2.544,4.220,2.502,3.697
2,Afghanistan,March,Temperature change,0.445,1.268,0.365,1.632,-0.923,-0.010,-0.649,...,-0.073,-0.465,2.468,0.994,4.632,0.360,0.664,2.625,3.756,3.895
3,Afghanistan,April,Temperature change,-1.786,0.040,0.859,-0.579,-1.850,-1.101,-1.369,...,0.661,1.755,1.009,1.426,1.498,0.962,0.084,2.275,4.851,1.747
4,Afghanistan,May,Temperature change,1.351,-0.160,-0.727,-0.169,-0.190,-0.182,-1.241,...,1.035,2.030,3.412,3.482,0.926,0.597,1.198,2.329,2.368,1.391

In [219]:
temp_change = temp_change[temp_change['Months'] == 'Meteorological year']
temp_change.drop(columns=['Months','Element'],inplace = True)
temp_change = pd.melt(temp_change, id_vars=['Area'],var_name='Year', value_name='Temperature Change')
temp_change['Year'] = temp_change['Year'].str.replace('Y','')

In [220]:
temp_change

                                          Area  Year  Temperature Change
0                                  Afghanistan  1961              -0.126
1                                      Albania  1961               0.635
2                                      Algeria  1961               0.155
3                               American Samoa  1961               0.121
4                                      Andorra  1961               0.756
...                                        ...   ...                 ...
17887        Low Income Food Deficit Countries  2023               1.389
17888  Net Food Importing Developing Countries  2023               1.505
17889                        Annex I countries  2023               2.003
17890                    Non-Annex I countries  2023               1.583
17891                                     OECD  2023               1.706

[17892 rows x 3 columns]

In [221]:
land_cover.head()

,Country,Indicator,F1992,F1993,F1994,F1995,F1996,F1997,F1998,F1999,...,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020
0,Advanced Economies,Climate Altering Land Cover Index,95.942016,97.027517,97.030493,97.339731,97.462165,97.529704,97.691446,98.144863,...,99.903233,99.963105,99.978710,99.996285,100.0,100.010114,100.076907,100.229096,100.355972,100.394188
1,Advanced Economies excluding US,Climate Altering Land Cover Index,94.851414,96.800658,96.767106,97.090049,97.172806,97.218736,97.319020,97.916400,...,100.051718,100.104101,100.069837,100.032246,100.0,99.979035,100.007709,99.995467,100.020988,100.058737
2,Africa,Climate Altering Land Cover Index,91.590697,93.557008,93.500134,94.266184,94.532599,94.914910,95.300060,96.344889,...,98.793984,100.076777,100.086539,99.972989,100.0,99.840223,99.802754,99.725391,99.758857,99.864541
3,Americas,Climate Altering Land Cover Index,92.924554,93.023248,92.940142,94.263051,94.632936,94.902416,95.405837,96.268190,...,99.025837,99.287572,99.647269,99.784025,100.0,100.229617,100.753590,100.902233,100.997645,101.013420
4,Asia,Climate Altering Land Cover Index,100.417597,100.022963,99.578377,99.613406,99.621526,99.845212,100.065291,100.666319,...,100.133256,99.990573,99.915897,100.009021,100.0,99.723557,99.729292,99.847777,99.709031,99.730813

In [222]:
land_cover.rename(columns = {'Country':'Area'},inplace = True)

In [223]:
land_cover = pd.melt(land_cover,id_vars = ['Area','Indicator'],var_name = 'Year',value_name = 'Value')

In [224]:
land_cover['Year'] = land_cover['Year'].str.replace('F','')
#temp_change['Year'] = temp_change['Year'].str.replace('Y','')

In [225]:
land_cover.head()

,Area,Indicator,Year,Value
0,Advanced Economies,Climate Altering Land Cover Index,1992,95.942016
1,Advanced Economies excluding US,Climate Altering Land Cover Index,1992,94.851414
2,Africa,Climate Altering Land Cover Index,1992,91.590697
3,Americas,Climate Altering Land Cover Index,1992,92.924554
4,Asia,Climate Altering Land Cover Index,1992,100.417597

In [226]:
atmospheric.head()

,Country,Indicator,Unit,year,Value
0,World,Yearly Atmospheric Carbon Dioxide Concentratio...,Percent,1959,0.236000
1,World,Yearly Atmospheric Carbon Dioxide Concentratio...,Percent,1960,0.293333
2,World,Yearly Atmospheric Carbon Dioxide Concentratio...,Percent,1961,0.232500
3,World,Yearly Atmospheric Carbon Dioxide Concentratio...,Percent,1962,0.255833
4,World,Yearly Atmospheric Carbon Dioxide Concentratio...,Percent,1963,0.168333

In [227]:
atmospheric.rename(columns = {'year':'Year'},inplace = True)

In [228]:
atmospheric.drop(columns = ['Country','Indicator','Unit'],inplace = True)

In [233]:
sea_level.head()

,Country,Indicator,Unit,Measure,year,Value
0,World,Change in mean sea level: Sea level: Jason.1,Millimeters,Adriatic Sea,2002,20.198571
1,World,Change in mean sea level: Sea level: Jason.1,Millimeters,Adriatic Sea,2003,5.792703
2,World,Change in mean sea level: Sea level: Jason.1,Millimeters,Adriatic Sea,2004,13.352162
3,World,Change in mean sea level: Sea level: Jason.1,Millimeters,Adriatic Sea,2005,3.733243
4,World,Change in mean sea level: Sea level: Jason.1,Millimeters,Adriatic Sea,2006,4.801111

In [234]:
sea_level = sea_level[sea_level['Indicator'] == 'Change in mean sea level: Sea level: Jason.2']

In [236]:
sea_level.drop(columns = ['Indicator','Country','Unit'],inplace = True)
sea_level.rename(columns = {'Measure':'Sea_level Measure'})

    Sea_level Measure  year      Value
300      Adriatic Sea  2008  27.953529
301      Adriatic Sea  2009  26.419189
302      Adriatic Sea  2010  64.689459
303      Adriatic Sea  2011  28.981351
304      Adriatic Sea  2012  19.959730
..                ...   ...        ...
545        Yellow Sea  2013  31.789412
546        Yellow Sea  2014  40.578919
547        Yellow Sea  2015  33.065405
548        Yellow Sea  2016  58.923889
549        Yellow Sea  2017 -14.104286

[250 rows x 3 columns]

In [230]:
# Convert 'Year' format in temperature change and land cover data
if 'Year' in production.columns:
    production['Year'] = production['Year'].str.extract('(\d+)', expand=False).astype(int)

# Convert the 'year' format in the temp_change and land_cover data
def convert_year_column(df, year_col='Year'):
    if year_col in df.columns:
        df[year_col] = df[year_col].str.extract('(\d+)', expand=False).astype(int)
    return df

# Apply the function to temp_change and land_cover
temp_change = convert_year_column(temp_change)
land_cover = convert_year_column(land_cover)

AttributeError: Can only use .str accessor with string values!

In [231]:
print(production.dtypes['Year'],
temp_change.dtypes['Year'],
land_cover.dtypes['Year'],
atmospheric.dtypes['Year'])

int64 int64 int64 int64

In [232]:
production = production.merge(temp_change, on=['Area', 'Year'], how='left')
production = production.merge(land_cover, on=['Area', 'Year'], how='left')
production = production.merge(atmospheric, on='Year', how='left')