In [1]:
import pandas as pd

In [14]:
df_coord = pd.read_csv("coordinates.csv")

In [15]:
def str_to_tuple(s):
    return tuple(map(float, s.strip('()').split(',')))

# Apply the function to 'lat' and 'lon' columns
df_coord['lat'] = df_coord['lat'].apply(str_to_tuple)
df_coord['lon'] = df_coord['lon'].apply(str_to_tuple)

In [16]:
def get_country_name(lat, lon):
    for index, row in df_coord.iterrows():
        lat_range = row['lat']
        lon_range = row['lon']
        if lat_range[0] <= lat <= lat_range[1] and lon_range[0] <= lon <= lon_range[1]:
            return row['Area']
    return "NaN"  # Return a default value if no country matches

In [17]:
# Example usage
lat = 40
lon = 20
country = get_country_name(lat, lon)
print(f"Country for coordinates ({lat}, {lon}): {country}")

Country for coordinates (40, 20): Albania

In [18]:
df_test = pd.read_csv('yearlyprecipdataset.csv')

In [19]:
df_test.head()

   year    lat    lon    precip
0  1979 -88.75   1.25  0.358453
1  1979 -88.75   3.75  0.351281
2  1979 -88.75   6.25  0.343447
3  1979 -88.75   8.75  0.320538
4  1979 -88.75  11.25  0.325240

In [30]:
df_test1 = df_test[0:20000]

In [34]:
df_test2 = df_test[20000:40000]

In [36]:
df_test3 = df_test[40000:60000]

In [37]:
df_test4 = df_test[60000:80000]

In [38]:
df_test5 = df_test[80000:100000]

In [42]:
df_test6 = df_test[100000:120000]

In [43]:
df_test7 = df_test[120000:140000]

In [44]:
df_test8 = df_test[140000:160000]

In [45]:
df_test9 = df_test[160000:180000]

In [46]:
df_test10 = df_test[180000:200000]

In [58]:
df_test11 = df_test[200000:220000]

In [59]:
df_test12 = df_test[220000:240000]

In [60]:
df_test13 = df_test[240000:260000]

In [61]:
df_test14 = df_test[260000:280000]

In [62]:
df_test15 = df_test[260000:300000]

In [31]:

df_test1['Area2'] = df_test1.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\3793521658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test1['Area2'] = df_test1.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [35]:
df_test2['Area2'] = df_test2.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\1366262208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test2['Area2'] = df_test2.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [40]:
df_test3['Area2'] = df_test3.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\105168791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test3['Area2'] = df_test3.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [41]:
df_test4['Area2'] = df_test4.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\4274391770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test4['Area2'] = df_test4.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [39]:
df_test5['Area2'] = df_test5.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\159642829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test5['Area2'] = df_test5.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [47]:
df_test6['Area2'] = df_test6.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\1187591802.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test6['Area2'] = df_test6.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [48]:
df_test7['Area2'] = df_test7.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\2851441374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test7['Area2'] = df_test7.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [49]:
df_test8['Area2'] = df_test8.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\3320290675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test8['Area2'] = df_test8.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [50]:
df_test9['Area2'] = df_test9.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\3118900893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test9['Area2'] = df_test9.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [51]:
df_test10['Area2'] = df_test10.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\234049989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test10['Area2'] = df_test10.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [63]:
df_test11['Area2'] = df_test11.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\2939669654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test11['Area2'] = df_test11.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [64]:
df_test12['Area2'] = df_test12.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\1668004094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test12['Area2'] = df_test12.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [65]:
df_test13['Area2'] = df_test13.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\80995341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test13['Area2'] = df_test13.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [66]:
df_test14['Area2'] = df_test14.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\1290936595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test14['Area2'] = df_test14.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [67]:
df_test15['Area2'] = df_test15.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

C:\Users\Ayman\AppData\Local\Temp\ipykernel_1432\2699725915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test15['Area2'] = df_test15.apply(lambda row: get_country_name(row['lat'], row['lon']), axis=1)

In [68]:
combined_df = pd.concat([df_test1,df_test2,df_test3,df_test4,df_test5,df_test6,df_test7,df_test8,df_test9,df_test10,df_test11,df_test12,df_test13,df_test14,df_test15], ignore_index=True)

In [69]:
combined_df.to_csv('combined.csv')

In [70]:
combined_df

        year    lat     lon    precip               Area2
0       1979 -88.75    1.25  0.358453                 NaN
1       1979 -88.75    3.75  0.351281                 NaN
2       1979 -88.75    6.25  0.343447                 NaN
3       1979 -88.75    8.75  0.320538                 NaN
4       1979 -88.75   11.25  0.325240                 NaN
...      ...    ...     ...       ...                 ...
319995  2007  78.75  108.75  0.569347  Russian Federation
319996  2007  78.75  111.25  0.506467  Russian Federation
319997  2007  78.75  113.75  0.473540  Russian Federation
319998  2007  78.75  116.25  0.460689  Russian Federation
319999  2007  78.75  118.75  0.473610  Russian Federation

[320000 rows x 5 columns]

In [33]:
df_test1

       year    lat     lon    precip Area2
0      1979 -88.75    1.25  0.358453   NaN
1      1979 -88.75    3.75  0.351281   NaN
2      1979 -88.75    6.25  0.343447   NaN
3      1979 -88.75    8.75  0.320538   NaN
4      1979 -88.75   11.25  0.325240   NaN
...     ...    ...     ...       ...   ...
19995  1980  76.25  308.75  0.513134   NaN
19996  1980  76.25  311.25  0.426801   NaN
19997  1980  76.25  313.75  0.417860   NaN
19998  1980  76.25  316.25  0.402023   NaN
19999  1980  76.25  318.75  0.227601   NaN

[20000 rows x 5 columns]

In [ ]:
l = [val for val in df_test['Area'] if val in df['Area']]

In [ ]:
l

In [ ]:
df_test_aligned, df_aligned = df_test.align(df, join='inner', axis=0)

l2 = df_test_aligned['Area'] == df_aligned['Area']
print(set(l2))