In [46]:
import pandas as pd

In [47]:
# Load data
def load_data(file_path):
    return pd.read_csv(file_path)

loading data on colab from git

In [48]:
'''
# Load the data
production1 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions1.csv')
production2 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions2.csv')
production3 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions3.csv')
production = pd.concat([production1, production2, production3], ignore_index=True)
temp_change = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/temperature_change.csv')
land_cover = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/land_cover.csv')
sea_level = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/sea_level.csv')
atmospheric = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/Atmospheric.csv')

'''

"\n# Load the data\nproduction1 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions1.csv')\nproduction2 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions2.csv')\nproduction3 = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/clean_productions3.csv')\nproduction = pd.concat([production1, production2, production3], ignore_index=True)\ntemp_change = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/temperature_change.csv')\nland_cover = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/land_cover.csv')\nsea_level = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/sea_level.csv')\natmospheric = load_data('/content/Climate_Impact_Agriculture_Yield/data/modified/Atmospheric.csv')\n\n"

loading data from local machine

In [49]:
# Load the data
production1 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions1.csv')

production2 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions2.csv')
production3 = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\clean_productions3.csv')
production = pd.concat([production1, production2, production3], ignore_index=True)
temp_change = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\temperature_change.csv')
land_cover = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\land_cover.csv')
sea_level = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\sea_level.csv')
atmospheric = load_data('D:\\git\\Climate_Impact_Agriculture_Yield\\data\\modified\\Atmospheric.csv')

In [50]:
# Display the first few rows of each dataset
print(production.head())
print(temp_change.head())
print(land_cover.head())
print(sea_level.head())
print(atmospheric.head())

   Unnamed: 0.1  Unnamed: 0         Area  \
0             0           0  Afghanistan
1             1           1  Afghanistan
2             2           2  Afghanistan
3             3           3  Afghanistan
4             4           4  Afghanistan

                                                Item  \
0                                  Almonds, in shell
1                                  Almonds, in shell
2                                  Almonds, in shell
3  Anise, badian, coriander, cumin, caraway, fenn...
4                                             Apples

                                             Element         Y1961  \
0  Gross Production Value (constant 2014-2016 tho...  1.042449e+08
1      Gross Production Value (current thousand SLC)  1.042449e+08
2  Gross Production Value (constant 2014-2016 tho...  1.042449e+08
3  Gross Production Value (constant 2014-2016 tho...  1.042449e+08
4  Gross Production Value (constant 2014-2016 tho...  7.127000e+03

          Y1962         Y1963         Y1964         Y1965  ...         Y2013  \
0  1.105186e+08  1.076921e+08  1.128735e+08  1.161324e+08  ...  2.134430e+05
1  1.105186e+08  1.076921e+08  1.128735e+08  1.161324e+08  ...  6.336462e+08
2  1.105186e+08  1.076921e+08  1.128735e+08  1.161324e+08  ...  9.003038e+06
3  1.105186e+08  1.076921e+08  1.128735e+08  1.161324e+08  ...  2.717000e+04
4  7.127000e+03  7.127000e+03  8.685000e+03  9.629000e+03  ...  3.709800e+04

          Y2014         Y2015         Y2016         Y2017         Y2018  \
0  1.385370e+05  1.225900e+05  1.660570e+05  1.379860e+05  1.739950e+05
1  6.835050e+08  6.994889e+08  7.152111e+08  7.278068e+08  8.944441e+08
2  5.843497e+06  5.170855e+06  7.004306e+06  5.820251e+06  7.339134e+06
3  4.673200e+04  3.912400e+04  3.767500e+04  3.963300e+04  3.881100e+04
4  4.219800e+04  4.235400e+04  6.650600e+04  8.044900e+04  1.025150e+05

          Y2019         Y2020         Y2021         Y2022
0  1.931680e+05  1.987390e+05  3.248840e+05  3.235890e+05
1  9.634183e+08  1.071486e+09  1.297379e+09  1.563556e+09
2  8.147840e+06  8.382859e+06  1.370364e+07  1.364904e+07
3  3.870600e+04  3.905000e+04  3.885600e+04  3.887100e+04
4  1.181530e+05  1.278450e+05  1.518300e+05  1.500960e+05

[5 rows x 67 columns]
   Unnamed: 0         Area    Months             Element  Y1961  Y1962  Y1963  \
0           0  Afghanistan   January  Temperature change  0.745  0.015  2.706
1           2  Afghanistan  February  Temperature change -1.787  2.390  3.875
2           4  Afghanistan     March  Temperature change  0.445  1.268  0.365
3           6  Afghanistan     April  Temperature change -1.786  0.040  0.859
4           8  Afghanistan       May  Temperature change  1.351 -0.160 -0.727

   Y1964  Y1965  Y1966  ...  Y2014  Y2015  Y2016  Y2017  Y2018  Y2019  Y2020  \
0 -5.250  1.854  3.796  ...  1.716  2.017  3.594  1.367  2.111  2.911 -0.547
1 -0.218 -0.100  3.529  ... -3.020  2.696  2.448  0.000  2.774  0.147  2.544
2  1.632 -0.923 -0.010  ... -0.073 -0.465  2.468  0.994  4.632  0.360  0.664
3 -0.579 -1.850 -1.101  ...  0.661  1.755  1.009  1.426  1.498  0.962  0.084
4 -0.169 -0.190 -0.182  ...  1.035  2.030  3.412  3.482  0.926  0.597  1.198

   Y2021  Y2022  Y2023
0  0.701  2.458 -2.200
1  4.220  2.502  3.697
2  2.625  3.756  3.895
3  2.275  4.851  1.747
4  2.329  2.368  1.391

[5 rows x 67 columns]
   Unnamed: 0                          Country  \
0           0               Advanced Economies
1           1  Advanced Economies excluding US
2           2                           Africa
3           3                         Americas
4           4                             Asia

                           Indicator       F1992       F1993      F1994  \
0  Climate Altering Land Cover Index   95.942016   97.027517  97.030493
1  Climate Altering Land Cover Index   94.851414   96.800658  96.767106
2  Climate Altering Land Cover Index   91.590697   93.557008  93.500134
3  Climate Altering Land Cover Index   92.924554   93.023248  92.940142
4  Climate Altering Land Cover Index  100.417597  100.022963  99.578377

       F1995      F1996      F1997       F1998  ...       F2011       F2012  \
0  97.339731  97.462165  97.529704   97.691446  ...   99.903233   99.963105
1  97.090049  97.172806  97.218736   97.319020  ...  100.051718  100.104101
2  94.266184  94.532599  94.914910   95.300060  ...   98.793984  100.076777
3  94.263051  94.632936  94.902416   95.405837  ...   99.025837   99.287572
4  99.613406  99.621526  99.845212  100.065291  ...  100.133256   99.990573

        F2013       F2014  F2015       F2016       F2017       F2018  \
0   99.978710   99.996285  100.0  100.010114  100.076907  100.229096
1  100.069837  100.032246  100.0   99.979035  100.007709   99.995467
2  100.086539   99.972989  100.0   99.840223   99.802754   99.725391
3   99.647269   99.784025  100.0  100.229617  100.753590  100.902233
4   99.915897  100.009021  100.0   99.723557   99.729292   99.847777

        F2019       F2020
0  100.355972  100.394188
1  100.020988  100.058737
2   99.758857   99.864541
3  100.997645  101.013420
4   99.709031   99.730813

[5 rows x 32 columns]
   Unnamed: 0 Country                                     Indicator  \
0           0   World  Change in mean sea level: Sea level: Jason.1
1           1   World  Change in mean sea level: Sea level: Jason.1
2           2   World  Change in mean sea level: Sea level: Jason.1
3           3   World  Change in mean sea level: Sea level: Jason.1
4           4   World  Change in mean sea level: Sea level: Jason.1

          Unit       Measure  year      Value
0  Millimeters  Adriatic Sea  2002  20.198571
1  Millimeters  Adriatic Sea  2003   5.792703
2  Millimeters  Adriatic Sea  2004  13.352162
3  Millimeters  Adriatic Sea  2005   3.733243
4  Millimeters  Adriatic Sea  2006   4.801111
   Unnamed: 0 Country                                          Indicator  \
0          67   World  Yearly Atmospheric Carbon Dioxide Concentratio...
1          68   World  Yearly Atmospheric Carbon Dioxide Concentratio...
2          69   World  Yearly Atmospheric Carbon Dioxide Concentratio...
3          70   World  Yearly Atmospheric Carbon Dioxide Concentratio...
4          71   World  Yearly Atmospheric Carbon Dioxide Concentratio...

      Unit  year     Value
0  Percent  1959  0.236000
1  Percent  1960  0.293333
2  Percent  1961  0.232500
3  Percent  1962  0.255833
4  Percent  1963  0.168333

In [51]:
def clean_data(df):
    return df.loc[:, ~df.columns.str.contains('^Unnamed')]
production = clean_data(production)
temp_change = clean_data(temp_change)
land_cover = clean_data(land_cover)
atmospheric = clean_data(atmospheric)
sea_level = clean_data(sea_level)

In [52]:
production.drop(columns = ['Element'],inplace = True)
production.reset_index(drop=True, inplace=True)
production = pd.melt(production, id_vars=['Area','Item'],var_name='Year', value_name='production')

In [ ]:
production = pd.melt(production, id_vars=['Area','Item'],var_name='Year', value_name='production')

In [53]:
production.head()

,Area,Item,Year,production
0,Afghanistan,"Almonds, in shell",Y1961,1.042449e+08
1,Afghanistan,"Almonds, in shell",Y1961,1.042449e+08
2,Afghanistan,"Almonds, in shell",Y1961,1.042449e+08
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Y1961,1.042449e+08
4,Afghanistan,Apples,Y1961,7.127000e+03

In [54]:
def convert_year_column(df):
    if 'year' in df.columns:
        df['Year'] = df['year'].str.extract('(\d+)', expand=False).astype(int)
        df = df.drop(columns=['year'])
    elif 'Year' in df.columns:
        df['Year'] = df['Year'].str.extract('(\d+)', expand=False).astype(int)
    return df

In [55]:
# Convert 'Year' format in temperature change and land cover data

convert_year_column(temp_change)
convert_year_column(land_cover)

,Country,Indicator,F1992,F1993,F1994,F1995,F1996,F1997,F1998,F1999,...,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020
0,Advanced Economies,Climate Altering Land Cover Index,95.942016,97.027517,97.030493,97.339731,97.462165,97.529704,97.691446,98.144863,...,99.903233,99.963105,99.978710,99.996285,100.0000,100.010114,100.076907,100.229096,100.355972,100.394188
1,Advanced Economies excluding US,Climate Altering Land Cover Index,94.851414,96.800658,96.767106,97.090049,97.172806,97.218736,97.319020,97.916400,...,100.051718,100.104101,100.069837,100.032246,100.0000,99.979035,100.007709,99.995467,100.020988,100.058737
2,Africa,Climate Altering Land Cover Index,91.590697,93.557008,93.500134,94.266184,94.532599,94.914910,95.300060,96.344889,...,98.793984,100.076777,100.086539,99.972989,100.0000,99.840223,99.802754,99.725391,99.758857,99.864541
3,Americas,Climate Altering Land Cover Index,92.924554,93.023248,92.940142,94.263051,94.632936,94.902416,95.405837,96.268190,...,99.025837,99.287572,99.647269,99.784025,100.0000,100.229617,100.753590,100.902233,100.997645,101.013420
4,Asia,Climate Altering Land Cover Index,100.417597,100.022963,99.578377,99.613406,99.621526,99.845212,100.065291,100.666319,...,100.133256,99.990573,99.915897,100.009021,100.0000,99.723557,99.729292,99.847777,99.709031,99.730813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3041,Zimbabwe,"Shrubs and/or herbaceous vegetation, aquatic o...",27.583800,27.583800,27.583800,27.583800,27.607000,27.638000,27.924800,28.320100,...,28.103100,28.296800,28.250300,28.320100,28.3201,28.165100,27.940300,27.909300,27.948100,27.986800
3042,Zimbabwe,Sparsely natural vegetated areas,17.616700,17.616700,17.616700,17.609000,17.601200,17.601200,17.601200,17.926800,...,18.283300,18.260000,18.252300,18.229000,18.2290,18.275500,18.275500,18.337500,18.314300,18.391800
3043,Zimbabwe,Terrestrial barren land,92.749400,92.726200,92.710700,92.478200,92.416200,92.764900,93.237700,93.664000,...,93.478000,93.361700,93.199000,92.981900,92.9742,91.958900,91.377600,90.625800,90.447600,90.370100
3044,Zimbabwe,Tree-covered areas,11097.522600,11097.111100,11096.779700,11089.704700,11104.181400,11146.528200,11136.561500,11092.841300,...,11299.674800,11280.559600,11288.056500,11323.867400,11323.7550,11511.847200,11610.042100,11645.811900,11649.914200,11644.688900
3045,Zimbabwe,Woody crops,419.100200,413.742800,404.691100,403.745800,370.424800,360.551900,371.797000,360.900100,...,318.133900,334.102600,334.084900,333.752800,333.7502,331.988500,330.719900,330.521000,330.556200,330.583200